$blue: #00afd7;
$red: #f9423a;
$yellow: #ffd400;
$black: #000000;
$gray: #b2aeae;
$white: #ffffff;
$header-height: 20dvh;

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: $blue;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: $header-height;
    width: 100dvw;
    z-index: 100;

    .header-inner {
        margin: 10px;

        background-color: $blue;
        color: $white;
        border-radius: 2dvh;
        // width: 85dvh;
        // height: 15dvh;
        width: 90dvw;
        height: 10dvh;
        display: flex;
        justify-content: space-between; //左右中央寄せ（要素が2つしかないためそれぞれが端に寄っている）
        align-items: center;

        .logo {
            height: 10dvh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 5dvh;

            img {
                display: block;
                height: 5dvh;
                width: auto;
            }
        }

        .global-nav {
            margin: 0 5dvh;

            ul {
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 0 1dvh;

                    a {
                        font-weight: bold;
                        color: $white;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 3dvh;
                        max-height: 10dvh;
                        white-space: nowrap;

                        img {
                            width: 1.5em;
                            height: 1.5em;
                            margin: 0 0.2em;
                        }
                    }

                    .vertical-line {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 1dvh;
                        font-size: 2dvh;

                        img {
                            height: 5dvh;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 100dvh) {
        height: 15dvh;
        .header-inner {
            height: 10dvh;
        }
        .global-nav {
            display: none;
        }
    }
    @media screen and (max-width: 70dvh) {
        height: 13dvh;
        .header-inner {
            height: 10dvh;
        }
        .global-nav {
            display: none;
        }
    }
}

$max-width-tablet: 100dvh;
$max-width-smartphone: 70dvh;
h1 {
    display: block;
    color: $yellow;
    font-weight: bold;
    margin-bottom: 3dvh;
    font-size: 10dvh;

    @media screen and (max-width: $max-width-tablet) {
        font-size: 8dvh;
    }
    @media screen and (max-width: $max-width-smartphone) {
        font-size: 8dvw;
    }
}
h2 {
    display: block;
    color: $yellow;
    font-weight: bold;
    margin-bottom: 3dvh;
    font-size: 8dvh;

    @media screen and (max-width: $max-width-tablet) {
        font-size: 6dvh;
    }
    @media screen and (max-width: $max-width-smartphone) {
        font-size: 8dvw;
    }
}

h3 {
    display: block;
    color: $white;
    font-size: 4dvh;
    font-weight: bold;
    margin-bottom: 3dvh;
}

p {
    display: block;
    color: $white;
    font-weight: regular;
    margin-left: 1dvw;
    margin-bottom: 2dvh;
    text-wrap: wrap;
    font-size: 3dvh;

    @media screen and (max-width: $max-width-tablet) {
        font-size: 3dvh;
    }
    @media screen and (max-width: $max-width-smartphone) {
        font-size: 4dvw;
    }
}

main {
    position: absolute;
    width: 100dvw;
    height: 100dvh;

    .main-inner {
        position: absolute;
        overflow-y: scroll;
        scrollbar-width: none;
        width: 100dvw;
        height: 100dvh;

        .top {
            width: 100dvw;
            height: 100dvh;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            scroll-snap-align: end;

            &-inner {
                background-image: url("./img/intelino-video.webp");
                background-size: cover;
                background-position: bottom;
                width: 80dvw;
                height: 70dvh;
                border-radius: 5dvh;
                margin-top: $header-height;
                position: fixed;
                z-index: 10;
                pointer-events: none;
                box-shadow: inset 2dvh 2dvh 2dvh
                        rgba($color: #000000, $alpha: 0.5),
                    inset -2dvh -2dvh 2dvh rgba($color: #000000, $alpha: 0.5);

                //Laptop
                @media screen {
                    &-text {
                        margin: 5dvh;
                        display: block;

                        h1 {
                            display: block;
                            white-space: nowrap;
                        }

                        p {
                            margin-bottom: 1dvh;
                            text-shadow: 0.1dvh 0.1dvh 1dvh
                                    rgba($color: #000000, $alpha: 0.5),
                                -0.1dvh -0.1dvh 1dvh
                                    rgba($color: #000000, $alpha: 0.5);
                        }
                    }
                }

                //Tablet
                @media screen and (max-width: $max-width-tablet) {
                    width: 90dvw;
                    height: 60dvh;
                    border-radius: 4dvw;
                    margin-top: 15dvh;
                    background-repeat: no-repeat;
                    background-color: $black;
                    background-size: cover;
                    &-text {
                        margin: 5dvh;
                        display: block;

                        p {
                            margin-bottom: 1dvh;
                            text-shadow: 0.1dvh 0.1dvh 1dvh
                                    rgba($color: #000000, $alpha: 0.5),
                                -0.1dvh -0.1dvh 1dvh
                                    rgba($color: #000000, $alpha: 0.5);
                        }
                    }
                }

                //SmartPhone
                @media screen and (max-width: $max-width-smartphone) {
                    width: 90dvw;
                    height: 70dvh;
                    border-radius: 5dvw;
                    background-size: 170%;
                    margin-top: 13dvh;
                    &-text {
                        margin: 2dvh;
                        h1 {
                            margin-bottom: 0;
                        }
                        &-smartphone {
                            margin-top: 1dvh;
                        }
                    }
                }

                &-cover {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    position: absolute;
                    top: 0;
                    opacity: 0;
                }
            }
        }

        .about {
            position: relative;
            width: 100dvw;
            height: 300dvh;
            scroll-snap-align: end;
            background-color: $blue;

            &-inner {
                position: inherit;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                width: 100dvw;
                height: 200dvh;

                &-text {
                    position: sticky;
                    top: 5dvh + $header-height;
                    z-index: 30;
                    width: 100dvw;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &-img {
                    width: 100dvw;
                    height: 100dvh;
                    background-image: url("./img/intelino-yellow.png");
                    background-size: cover;
                    background-position: bottom;
                    position: fixed;
                    pointer-events: none;
                    top: 0;
                    z-index: 20;

                    @media screen and (max-width: $max-width-tablet) {
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    @media screen and (max-width: $max-width-smartphone) {
                        background-size: 170%;
                    }
                }

                &-cover {
                    display: block;
                    width: 100dvw;
                    height: 100dvh;
                    top: 0;
                    z-index: 10;
                    pointer-events: none;

                    &-detail {
                        display: block;
                        width: 100dvw;
                        height: 10dvh;
                        position: absolute;
                        bottom: 10dvh;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &-background {
                            display: block;
                            width: 80dvh;
                            height: 13dvh;
                            background-color: $gray;
                            position: absolute;
                            border-radius: 2dvh;

                            &-button {
                                display: block;
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                bottom: 2dvh;
                                right: 2dvh;
                                font-size: 4dvh;

                                img {
                                    width: 5dvh;
                                    height: 5dvh;
                                }
                            }
                        }
                    }

                    &-arrow {
                        display: block;
                        width: auto;
                        height: 30dvh;
                        position: absolute;
                        top: 42dvh;
                        bottom: 25dvh;
                        left: 62dvw;
                        right: 30dvw;
                    }
                }
            }
        }

        .learn {
            width: 100dvw;
            height: 300dvh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            scroll-snap-align: start;

            &-bg {
                display: block;
                position: fixed;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: -10;
                top: 0;
                left: 0;

                &-video {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    min-width: 100%;
                    min-height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                    filter: blur(3px);
                }

                &-cover {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    opacity: 0.5;
                }
            }

            &-inner {
                display: block;
                position: sticky;
                width: 80dvw;
                height: 100dvh;
                top: $header-height;

                &-text {
                    display: block;
                    position: relative;
                    top: 40dvh;
                    left: 5dvh;
                    z-index: 30;
                }
                @media screen and (max-width: $max-width-tablet) {
                    width: 80dvw;
                    &-text {
                        left: 0;
                    }
                }
                @media screen and (max-width: $max-width-smartphone) {
                    width: 90dvw;
                    &-text {
                        left: 0;
                    }
                }
            }

            &-inner2 {
                position: absolute;
                top: 100dvh;
                width: 50dvw;
                height: 300dvh;
                background-color: $blue;
                right: 0;
            }
        }

        $award_width: 96dvw;
        $award_inner_posion: (100dvw - $award_width)/2;

        $achievement_margin: 2dvw;
        $achievement_width: 100dvw;
        $achievement_height: 200dvw;
        $achievement_inner_width: $achievement_width - $achievement_margin * 2;
        $achievement_inner_height: $achievement_height - $achievement_margin * 2;

        .achievements {
            width: $achievement_width;
            //ここのheightを変えることでawardsのスクロール量を調整
            height: 600dvh;
            background-color: $yellow;
            z-index: 30;
            position: relative;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: column;

            &-inner {
                position: sticky;
                top: -1267.016px;
                height: auto;
            }

            .classroom {
                //ここのheightを変えることでスクロール量を調整
                height: 300dvh;
                width: 100dvw;
                position: relative;

                &-inner {
                    position: sticky;
                    top: 2dvw;
                    margin: 2dvw 2dvw 0 2dvw;
                    border-radius: 5dvh 5dvh 0 0;
                    width: $achievement_inner_width;
                    background-color: $blue;
                    height: auto;
                    padding-bottom: 1dvh; //受賞歴との繋ぎ用（これがないと黄色い線が混入する）

                    // flex設定
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: flex-start;

                    &-text {
                        position: relative;
                        margin-top: $header-height - 6dvh;
                        margin-bottom: 3dvh;
                        width: 80dvw;
                    }

                    &-classroom {
                        $classroom_height: 60dvh;
                        height: auto;
                        width: 100dvw - $achievement_margin * 2;
                        display: flex;
                        justify-content: center;
                        position: relative; //これ重要
                        /** マスクレイヤーにグラデーションを指定 */
                        mask-image: linear-gradient(
                                to right,
                                rgb(0 0 0 / 100%) 95%,
                                rgb(0 0 0 / 0%) 100%
                            ),
                            linear-gradient(
                                to left,
                                rgb(0 0 0 / 100%) 95%,
                                rgb(0 0 0 / 0%) 100%
                            );

                        /** マスクの合成モードを設定 */
                        mask-composite: intersect;

                        &-col {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100dvw;
                            height: auto;
                            flex-flow: column;
                            overflow: hidden;

                            &-container {
                                display: flex;
                                width: 100dvw;
                                height: auto;
                                flex-flow: row;
                                flex-wrap: nowrap;

                                &-row {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: auto;
                                    height: auto;
                                    flex-flow: row;

                                    &-img {
                                        position: relative;
                                        width: auto;

                                        @media screen {
                                            height: 25dvh;
                                        }
                                        @media screen and (max-width: $max-width-tablet) {
                                            height: 30dvh;
                                        }
                                        @media screen and (max-width: $max-width-smartphone) {
                                            height: 20dvh;
                                        }
                                        position: relative;
                                        z-index: 40;
                                        border-radius: 2dvh;
                                        padding: 1dvh;
                                    }
                                }
                            }

                            .right {
                                justify-content: flex-end;
                            }

                            .left {
                                justify-content: flex-start;
                            }
                        }
                    }
                }
            }

            .awards {
                height: auto;
                width: 100dvw;
                position: relative;

                &-inner {
                    top: 2dvw;
                    margin: 0 2dvw 2dvw 2dvw;
                    border-radius: 0 0 5dvh 5dvh;
                    width: $achievement_inner_width;
                    background-color: $blue;
                    height: auto;

                    // flex設定
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: flex-start;

                    &-text {
                        position: relative;
                        margin-top: $header-height - 10dvh;
                        margin-bottom: 3dvh;
                        width: 80dvw;
                        height: auto;
                    }

                    &-awards {
                        width: 80dvw;
                        height: auto;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        position: relative;
                        flex-flow: row;
                        margin-bottom: 10dvh;

                        &-row {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            width: 100dvw;
                            height: auto;

                            img {
                                width: 15dvh;
                                height: auto;
                                margin: 2dvh;

                                @media screen and (max-width: $max-width-tablet) {
                                    width: 10dvh;
                                }
                                @media screen and (max-width: $max-width-smartphone) {
                                    width: 10dvw;
                                }
                            }
                        }
                    }
                }
            }
        }

        .purchase {
            width: 100dvw;
            height: auto;
            background-color: $blue;
            position: relative;
            z-index: 30;
            padding-top: 10dvh;

            &-inner {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                width: 100dvw;
                margin-top: 5dvh;

                &-background {
                    background-color: $white;
                    position: absolute;
                    width: 90dvw;
                    height: 80dvh;
                    border-radius: 5dvh;
                }

                &-img {
                    height: auto;
                    width: 45dvw;
                    margin-left: 2dvw;
                    img {
                        height: 70dvh;
                        width: auto;
                        /** マスクレイヤーにグラデーションを指定 */
                        mask-image: linear-gradient(
                            to right,
                            rgb(0 0 0 / 100%) 90%,
                            rgb(0 0 0 / 0%) 100%
                        );

                        /** マスクの合成モードを設定 */
                        mask-composite: intersect;

                        object-fit: contain;
                    }
                }

                &-col {
                    position: relative;
                    margin-top: 20dvh;
                    background-color: $blue;
                    padding: 1dvh 2dvh;
                    width: 45dvw;
                    height: auto;
                    border-radius: 5dvh 0 0 0;

                    &-text {
                        position: relative;
                        width: auto;
                        height: auto;
                        h2 {
                            text-wrap: nowrap;
                        }
                        p {
                            text-wrap: wrap;
                            width: 40dvw;
                        }
                    }

                    &-button {
                        position: relative;
                        width: auto;
                        height: auto;
                        padding-left: 1dvh;
                        margin-bottom: 5dvh;
                        img {
                            object-fit: contain;
                        }
                        .mercari {
                            width: 20dvh;
                            height: 10dvh;
                            background-color: $white;
                            border-radius: 2dvh;
                        }
                    }
                }
            }
            @media screen and (max-width: $max-width-tablet) {
                &-inner {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-flow: column;
                    &-background {
                        width: 85dvw;
                        height: 70dvh;
                        border-radius: 4dvh;
                    }

                    &-img {
                        height: auto;
                        width: auto;
                        margin-top: 2dvh;

                        img {
                            height: auto;
                            width: 60dvw;
                        }
                    }
                    &-col {
                        width: 85dvw;
                        margin-top: -5dvh;
                        margin-left: 15dvw;
                        padding: 1dvh 2dvw;
                        border-radius: 4dvh 0 0 0;
                        &-text {
                            h2 {
                                text-wrap: nowrap;
                            }
                            p {
                                text-wrap: wrap;
                                width: 70dvw;
                            }
                        }
                        &-button {
                            width: auto;
                            height: auto;
                            padding-left: 1dvh;
                            margin-bottom: 5dvh;
                            img {
                                object-fit: contain;
                            }
                            .mercari {
                                width: 15dvh;
                                height: 7dvh;
                                background-color: $white;
                                border-radius: 2dvh;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: $max-width-smartphone) {
                &-inner {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-flow: column;

                    &-background {
                        width: 85dvw;
                        height: 70dvh;
                        border-radius: 4dvw;
                    }
                    &-img {
                        height: 50dvh;
                        width: auto;
                        margin-top: 10dvw;
                        img {
                            height: 40dvh;
                            width: auto;
                        }
                    }
                    &-col {
                        width: 85dvw;
                        margin-top: -10dvh;
                        margin-left: 15dvw;
                        padding: 1dvh 2dvw;
                        border-radius: 5dvw 0 0 0;
                        &-text {
                            h2 {
                                text-wrap: nowrap;
                            }
                            p {
                                text-wrap: wrap;
                                width: 70dvw;
                            }
                        }
                        &-button {
                            width: auto;
                            height: auto;
                            padding-left: 1dvh;
                            img {
                                object-fit: contain;
                            }
                            .mercari {
                                width: 25dvw;
                                height: 10dvw;
                                background-color: $white;
                                border-radius: 2dvw;
                            }
                        }
                    }
                }
            }
        }

        .contact {
            width: 100dvw;
            height: auto;
            background-color: $blue;

            z-index: 30;
            position: relative;

            &-inner {
                position: relative;
                top: 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                height: auto;
                width: 90dvw;
                margin-left: 5dvw;
                // padding-top: 30dvh;

                &-img {
                    width: auto;
                    height: auto;
                    position: absolute;
                    right: 5dvh;
                    bottom: 0;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    img {
                        height: 80dvh;
                        width: 80dvh;
                        object-fit: contain;
                        object-position: 100% 90%;

                        @media screen and (max-width: $max-width-tablet) {
                            height: 70dvw;
                            width: 70dvw;
                        }
                    }
                }

                &-col {
                    padding: 1dvh 2dvh;
                    width: auto;
                    height: auto;
                    margin-top: 10dvh;
                    z-index: 40;

                    &-text {
                        h1 {
                            width: 90dvw;
                        }
                    }
                    &-button {
                        width: auto;
                        height: auto;
                        margin-top: 40dvh;
                        margin-bottom: 20dvh;
                        background-color: $white;
                        border-radius: 2dvh;
                        width: 40dvh;
                        height: 10dvh;
                        @media screen and (max-width: $max-width-tablet) {
                            width: 30dvh;
                            height: 10dvh;
                            margin-bottom: 10dvw;
                        }
                        @media screen and (max-width: $max-width-smartphone) {
                            width: 40dvw;
                            height: 15dvw;
                            margin-bottom: 0;
                        }
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                width: 5dvh;
                                height: 5dvh;
                                margin-right: 1dvh;
                                @media screen and (max-width: $max-width-tablet) {
                                    width: 4dvh;
                                    height: 4dvh;
                                }
                                @media screen and (max-width: $max-width-smartphone) {
                                    width: 5dvw;
                                    height: 5dvw;
                                }
                            }
                            .text {
                                width: auto;
                                height: auto;
                                color: $black;
                                font-size: 3dvh;
                                font-weight: bold;
                                text-wrap: nowrap;
                                @media screen and (max-width: $max-width-tablet) {
                                    font-size: 3dvh;
                                }
                                @media screen and (max-width: $max-width-smartphone) {
                                    font-size: 4dvw;
                                }
                            }
                        }
                    }
                }
            }
        }

        .company {
            width: 100dvw;
            height: auto;
            background-color: $blue;
            z-index: 30;

            &-inner {
                width: 100dvw;
                height: auto;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                .divider {
                    width: 90dvw;
                    height: 0.6dvh;
                    border-radius: 0.3dvh;
                    background-color: $white;
                    margin: 10dvh 0;
                }

                &-text {
                    width: 80dvw;

                    p {
                        text-wrap: wrap;
                    }
                }
            }
        }
        .laptop {
            display: block;
        }
        .tablet {
            display: none;
        }
        .smartphone {
            display: none;
        }

        @media screen and (max-width: 100dvh) {
            .laptop {
                display: none;
            }
            .tablet {
                display: block;
            }
            .smartphone {
                display: none;
            }
        }
        @media screen and (max-width: 70dvh) {
            .laptop {
                display: none;
            }
            .tablet {
                display: none;
            }
            .smartphone {
                display: block;
            }
        }
    }

    $page-indicator-width: 2dvh;
    $page-indicator-height: 10dvh;
    .page-indicator {
        position: fixed;
        z-index: 100;
        bottom: 5dvh;
        right: 4dvh;
        width: $page-indicator-width;
        height: $page-indicator-height;
        display: flex;
        &-inner {
            width: $page-indicator-width;
            height: $page-indicator-height;
            display: flex;
            justify-content: center;
            align-items: center;
            &-col {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: $page-indicator-width;
                height: $page-indicator-height;
                flex-flow: column;
                &-circle {
                    width: 1dvh;
                    height: 1dvh;
                    border-radius: 50%;
                    background-color: $white;
                    margin: 0 1dvh;
                }
            }
        }
    }
}

footer {
    position: relative;
    width: 100dvw;
    height: auto;
    background-color: $black;

    .footer-inner {
        width: 100dvw;
        height: auto;
        padding: 5dvh;

        a {
            img {
                height: 10dvh;
            }
        }

        p {
            margin-bottom: 1dvh;
        }
    }
}
