$blue: #00AFD7;
$red: #F9423A;
$yellow: #FFD400;
$black: #000000;
$gray: #B2AEAE;
$white: #FFFFFF;
$header-height: 20vh;

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $blue;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: $header-height;
    width: 100vw;
    z-index: 100;

    .header-inner {
        margin: 10px;

        background-color: $blue;
        color: $white;
        border-radius: 2vh;
        // width: 85vh;
        // height: 15vh;
        width: 90vw;
        height: 10vh;
        display: flex;
        justify-content: space-between; //左右中央寄せ（要素が2つしかないためそれぞれが端に寄っている）
        align-items: center;

        .logo {
            height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 5vh;

            img {
                display: block;
                height: 5vh;
                width: auto;
            }
        }

        .global-nav {
            margin: 0 5vh;

            ul {
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 0 1vh;

                    a {
                        font-weight: bold;
                        color: $white;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 3vh;
                        max-height: 10vh;
                        white-space: nowrap;

                        img {
                            width: 1.5em;
                            height: 1.5em;
                            margin: 0 0.2em;
                        }
                    }

                    .vertical-line {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 1vh;
                        font-size: 2vh;

                        img {
                            height: 5vh;
                        }
                    }
                }
            }

        }
    }
}

h1 {
    display: block;
    white-space: nowrap;
    color: $yellow;
    font-size: 10vh;
    font-weight: bold;
    margin-bottom: 3vh;
}

p {
    display: block;
    white-space: nowrap;
    color: $white;
    font-size: 3vh;
    font-weight: regular;
    margin-left: 1vw;
    margin-bottom: 2vh;
}

main {
    position: absolute;

    .main-inner {
        // scroll-snap-type: y mandatory;
        position: absolute;
        overflow-y: scroll;
        scrollbar-width: none;
        width: 100vw;
        height: 100vh;


        .top {
            width: 100vw;
            height: 100vh;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            scroll-snap-align: end;

            &-inner {
                background-image: url('./img/intelino-video.webp');
                background-size: cover;
                background-position: bottom;
                width: 80vw;
                height: 70vh;
                border-radius: 5vh;
                margin-top: $header-height;
                position: fixed;
                z-index: 10;
                pointer-events: none;
                box-shadow: inset 2vh 2vh 2vh rgba($color: #000000, $alpha: 0.5),
                    inset -2vh -2vh 2vh rgba($color: #000000, $alpha: 0.5);

                &-text {
                    margin: 5vh;

                    h1 {
                        display: block;
                        white-space: nowrap;
                        color: $yellow;
                        font-size: 10vh;
                        font-weight: bold;
                        margin-bottom: 2vh;
                    }

                    p {
                        display: block;
                        white-space: nowrap;
                        color: $white;
                        font-size: 3vh;
                        font-weight: regular;
                        margin-bottom: 1vh;
                        text-shadow: 0.1vh 0.1vh 1vh rgba($color: #000000, $alpha: 0.5),
                            -0.1vh -0.1vh 1vh rgba($color: #000000, $alpha: 0.5);
                        // background-color: $blue;
                    }
                }

                &-cover {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    position: absolute;
                    top: 0;
                    opacity: 0;
                }

            }
        }

        .about {
            position: relative;
            width: 100vw;
            height: 300vh;
            scroll-snap-align: end;
            background-color: $blue;

            &-inner {
                position: inherit;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                width: 100vw;
                height: 200vh;

                &-text {
                    position: sticky;
                    top: 5vh+$header-height;
                    z-index: 30;
                    width: 100vw;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &-img {
                    width: 100vw;
                    height: 100vh;
                    background-image: url('./img/intelino-yellow.png');
                    background-size: cover;
                    background-position: bottom;
                    position: fixed;
                    pointer-events: none;
                    top: 0;
                    z-index: 20;
                }

                &-cover {
                    display: block;
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    z-index: 10;
                    pointer-events: none;

                    &-detail {
                        display: block;
                        width: 100vw;
                        height: 10vh;
                        position: absolute;
                        bottom: 10vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &-background {
                            display: block;
                            width: 80vh;
                            height: 13vh;
                            background-color: $gray;
                            position: absolute;
                            border-radius: 2vh;

                            &-button {
                                display: block;
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                bottom: 2vh;
                                right: 2vh;
                                font-size: 4vh;

                                img {
                                    width: 5vh;
                                    height: 5vh;
                                }
                            }
                        }
                    }

                    &-arrow {
                        display: block;
                        width: auto;
                        height: 30vh;
                        position: absolute;
                        top: 42vh;
                        bottom: 25vh;
                        left: 62vw;
                        right: 30vw;
                    }
                }
            }
        }

        .learn {
            width: 100vw;
            height: 200vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            scroll-snap-align: start;

            &-bg {
                display: block;
                position: fixed;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: -10;
                top: 0;
                left: 0;

                &-video {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    min-width: 100%;
                    min-height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                    filter: blur(3px);
                }

                &-cover {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    opacity: 0.5;
                }
            }

            &-inner {
                display: block;
                position: sticky;
                width: 80vw;
                height: 100vh;
                top: $header-height;

                &-text {
                    display: block;
                    position: relative;
                    top: 40vh;
                    left: 5vh;
                    z-index: 30;

                    h1 {
                        display: block;
                        white-space: nowrap;
                        color: $yellow;
                        font-size: 10vh;
                        font-weight: bold;
                        margin-bottom: 3vh;
                    }

                    p {
                        display: block;
                        white-space: nowrap;
                        color: $white;
                        font-size: 3vh;
                        font-weight: regular;
                        margin-bottom: 2vh;
                    }
                }
            }

            &-inner2 {
                position: absolute;
                top: 100vh;
                width: 50vw;
                height: 300vh;
                background-color: $blue;
                right: 0;
            }
        }

        $award_width: 96vw;
        $award_inner_posion: (
            100vw - $award_width)/2;

        $achievement_margin: 2vw;
        $achievement_width: 100vw;
        $achievement_height: 200vw;
        $achievement_inner_width: $achievement_width - $achievement_margin * 2;
        $achievement_inner_height: $achievement_height - $achievement_margin * 2;

        .achievements {
            width: $achievement_width;
            height: 400vh;
            background-color: $yellow;
            z-index: 30;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: column;
            scroll-snap-align: end;

            &-inner{
                position: sticky;
                top: 0;
                height: auto;
            }

            .classroom {
                //ここのheightを変えることでスクロール量を調整
                height: 200vh;
                width: 100vw;
                position: relative;

                &-inner {
                    position: sticky;
                    top: 2vw;
                    margin: 2vw 2vw 0 2vw;
                    border-radius: 5vh 5vh 0 0;
                    width: $achievement_inner_width;
                    background-color: $blue;
                    height: auto;

                    // flex設定
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: flex-start;

                    &-text {
                        position: relative;
                        margin-top: $header-height - 6vh;
                        margin-bottom: 3vh;
                    }

                    &-classroom {
                        $classroom_height: 60vh;
                        height: $classroom_height;
                        width: 100vw;
                        display: flex;
                        justify-content: center;
                        position: relative; //これ重要

                        &-col {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100vw;
                            height: $classroom_height;
                            flex-flow: column;
                            overflow: hidden;

                            &-container {
                                display: flex;
                                width: 100vw;
                                height: $classroom_height/2;
                                flex-flow: row;
                                flex-wrap: nowrap;

                                &-row {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: auto;
                                    height: $classroom_height/2;
                                    flex-flow: row;

                                    &-img {
                                        position: relative;
                                        width: auto;
                                        height: $classroom_height/2 - 2vh;
                                        background-color: $red;
                                        position: relative;
                                        z-index: 40;
                                        border-radius: 2vh;
                                        margin: 1vh;
                                    }
                                }
                            }

                            .right {
                                justify-content: flex-end;
                            }

                            .left {
                                justify-content: flex-start;
                            }
                        }

                        &-frame {
                            width: 100vw;
                            height: $classroom_height;
                            position: absolute;
                            z-index: 50;
                            top: 0;

                            %frame_shape {
                                width: $achievement_margin;
                                height: $classroom_height;
                                background-color: $yellow;
                                position: absolute;
                                top: 0;
                            }

                            &-left {
                                @extend %frame_shape;
                                left: 0;
                            }

                            &-right {
                                @extend %frame_shape;
                                right: 0;
                            }
                        }
                    }
                }
            }

            .awards {
                height: auto;
                width: 100vw;
                position: relative;

                &-inner {
                    top: 2vw;
                    margin: 0 2vw 2vw 2vw;
                    border-radius: 0 0 5vh 5vh;
                    width: $achievement_inner_width;
                    background-color: $blue;
                    height: auto;
                    
                    // flex設定
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: flex-start;

                    &-text {
                        position: relative;
                        margin-top: $header-height - 6vh;
                        margin-bottom: 3vh;
                        width: 80vw;
                    }


                    &-awards {
                        width: 80vw;
                        height: 20vh;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        position: relative;
                        flex-flow: row;
                        margin-bottom: 10vh;

                        &-row {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            width: 100vw;

                            img {
                                width: 20vh;
                                height: 20vh;
                                margin: 2vh;
                            }
                        }
                    }
                }
            }
        }

        .purchase {
            width: 100vw;
            height: 100vh;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            z-index: 30;
            position: sticky;
            scroll-snap-align: end;
        }

        .contact {
            width: 100vw;
            height: 100vh;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            z-index: 30;
            position: relative;
            scroll-snap-align: end;
        }
    }
}